@model TelefonRehber.Models.EntityFramework.TBL_DEPARTMAN
@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Kaydet", "DepartmanIslem", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.AD, "Departman Adı")
            @Html.TextBoxFor(m => m.AD, new { @class = "form-control", placeholder = "Ad", maxlength = "74" })
            @Html.ValidationMessageFor(m => m.AD)

        </div>

        @Html.HiddenFor(m => m.ID)
        <button type="submit" class="btn btn-primary">Onayla</button>

    }

</div>


@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}



